body {
  margin: 0;
  padding: 0;
  background-color: #ffcfeb;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hello-kitty {
  position: relative;
  width: 300px;
  height: 300px;
  background-image: url(hello-kitty-clip-art-cartoon-clip-art-6.png);
  background-size: cover;
  text-align: center;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: #ffffff;
  font-family: Arial, sans-serif;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}